Django~=6.0.7
django-environ~=0.14.0
django-cors-headers~=4.9.0
djangorestframework~=3.17.1
python-pptx~=1.0.2
whitenoise~=6.12.0
colorlog~=6.12.0
color-contrast~=0.1.1
opencv-python-headless~=5.0.0.93
numpy~=2.5.1
colour~=0.1.5
unoserver==3.4
pypdf~=6.14.2
pypdfium2~=5.12.1