DEBUG=True
SECRET_KEY="django-insecure-replace-me-with-a-real-key"
REQUIRE_API_KEY=False
SECRET_API_KEY="X-API-KEY-insecure-replace-me-with-a-real-key"
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_URL=http://localhost:3000
UNOSERVER_HOST=127.0.0.1
UNOSERVER_PORT=2003
TMP_DIR=/project/.tmp
TEST_PPTX_DIR=/project/test_slides